@inject UserManager<ApplicationUser> UserManager
@using Microsoft.AspNetCore.Identity
@using FoodDesk.Infrastructure.Identity
@model FoodDesk.WEB.Models.HomeViewModel
@{
	ViewData["Title"] = "Home Page";
}

<!--**********************************
	Content body start
***********************************-->
<div class="content-body">
	<!-- row -->
	<div class="container">
		<div class="row">
			<div class="col-xl-8 col-xxl-7">
				<div class="row">
					<div class="col-xl-12">
						<div class="position-relative ">
							<div class="swiper-pagination-banner"></div>
							<div class="swiper mySwiper-1">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<div class="banner-bx">
											<img src="FoodDesk/images/banner-img/pic-1.jpg" alt="">
										</div>
									</div>
									<div class="swiper-slide">
										<div class="banner-bx">
											<img src="FoodDesk/images/banner-img/pic-3.jpg" alt="">
										</div>
									</div>
									<div class="swiper-slide">
										<div class="banner-bx">
											<img src="FoodDesk/images/banner-img/pic-4.jpg" alt="">
										</div>
									</div>
								</div>
								<div class="swiper-button-next-1"></div>
								<div class="swiper-button-prev-1"></div>
							</div>

						</div>
					</div>
					<div class="col-xl-12">
						<div class="d-flex align-items-center justify-content-between mb-2 gap">
							<h4 class="mb-0 cate-title">Category</h4>
							<a href="/FavoriteMenu" class="text-primary">View all<i class="fa-solid fa-angle-right ms-2"></i></a>
						</div>
						<div class="swiper mySwiper-2">
							<div class="swiper-wrapper">
								@foreach (var category in Model.Categories)
								{
								<div class="swiper-slide">
									<div class="cate-bx text-center">
										<div class="card">
											<div class="card-body">
													<img src="@category.ImageUrl" alt="@category.Name" width="50" height="50">
													<a href="javascript:void(0);"><h6 class="mb-0 font-w500">@category.Name</h6></a>
								</div>
											</div>
										</div>
									</div>
								}
							</div>
							<div class="swiper-pagination"></div>
						</div>
					</div>
					<div class="col-xl-12">
						<div class="d-flex align-items-center justify-content-between mb-2 gap">
							<h4 class="mb-0 cate-title">Popular Dishes</h4>
							<a href="/FavoriteMenu" class="text-primary">View all<i class="fa-solid fa-angle-right ms-2"></i></a>
						</div>
						<div class="swiper mySwiper-2">
							<div class="swiper-wrapper">
								@foreach (var product in Model.Products.Where(p => p.IsPopular))
								{
								<div class="swiper-slide">
									<div class="card dishe-bx">
										<div class="card-header border-0 pb-0 pt-0 pe-3">
												@if (product.Discount > 0)
												{
													<span class="badge badge-lg badge-danger side-badge">@product.Discount% Off</span>
												}
												
										</div>
										<div class="card-body p-0 text-center">
												<img src="@product.ImageUrl" alt="@product.Name">
										</div>
										<div class="card-footer border-0 px-3">
											<ul class="d-flex align-items-center mb-2">
													@for (int i = 0; i < 5; i++)
													{
												<li>
													<svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path d="M8.10326 0.816986C8.47008 0.0737399 9.52992 0.07374 9.89674 0.816986L11.7063 4.48347C11.8519 4.77862 12.1335 4.98319 12.4592 5.03051L16.5054 5.61846C17.3256 5.73765 17.6531 6.74562 17.0596 7.32416L14.1318 10.1781C13.8961 10.4079 13.7885 10.7389 13.8442 11.0632L14.5353 15.0931C14.6754 15.91 13.818 16.533 13.0844 16.1473L9.46534 14.2446C9.17402 14.0915 8.82598 14.0915 8.53466 14.2446L4.91562 16.1473C4.18199 16.533 3.32456 15.91 3.46467 15.0931L4.15585 11.0632C4.21148 10.7389 4.10393 10.4079 3.86825 10.1781L0.940385 7.32416C0.346867 6.74562 0.674378 5.73765 1.4946 5.61846L5.54081 5.03051C5.86652 4.98319 6.14808 4.77862 6.29374 4.48347L8.10326 0.816986Z" fill="@(i < Math.Floor(product.Rating) ? "#FC8019" : "#DBDBDB")" />
													</svg>
												</li>
													}
											</ul>
											<div class="common d-flex align-items-end justify-content-between">
												<div>
														<a href="javascript:void(0);"><h4>@product.Name</h4></a>
														<h3 class="font-w700 mb-0 text-primary">$@product.Price</h3>
													</div>
													<div class="plus c-pointer" data-product-id="@product.Id">
													<div class="sub-bx">
														<a href="javascript:void(0);" class="text-white"></a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								}
							</div>
							<div class="swiper-pagination"></div>
						</div>
					</div>
					<div class="col-xl-12">
						<div class="d-flex align-items-center justify-content-between mb-2">
							<h4 class="mb-0 cate-title">Recent Order</h4>
							<a href="/FavoriteMenu" class="text-primary">View all<i class="fa-solid fa-angle-right ms-2"></i></a>
						</div>
						<div class="swiper mySwiper-3">
							<div class="swiper-wrapper">
								@foreach (var order in Model.Orders)
								{
									foreach (var item in order.OrderItems)
									{
									<div class="swiper-slide">
										<div class="card dishe-bx b-hover review style-1">
											<div class="card-header border-0 pt-0 pb-0">
												
											</div>
											<div class="card-body text-center py-3">
													<img src="@item.Product.ImageUrl" alt="@item.Product.Name">
											</div>
											<div class="card-footer pt-0 border-0 text-center">
												<div>
														<a href="javascript:void(0);"><h4 class="mb-0">@item.Product.Name</h4></a>
														<h3 class="font-w700 text-primary">$@item.Price</h3>
													<div class="d-flex align-items-center justify-content-center">
															<p class="mb-0 pe-2">@order.Distance km</p>
														<svg width="6" height="7" viewBox="0 0 6 7" fill="none" xmlns="http://www.w3.org/2000/svg">
															<circle cx="3" cy="3.5" r="3" fill="#C4C4C4" />
														</svg>
															<p class="mb-0 ps-2">@order.DeliveryTime min</p>
											</div>
													</div>
												</div>
											</div>
										</div>
									}
								}
							</div>
							<div class="swiper-pagination"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-4 col-xxl-5">
				<div class="row">
					<div class="col-xl-12">
						<div class="card dlab-bg dlab-position">
							<div class="card-body pt-0 pb-2">
								<div class="bb-border">
									<p class="font-w500 text-primary fs-15 mb-2">Your Address</p>
									<div class="d-flex align-items-center justify-content-between mb-2">
										<h4 class="mb-0">
											<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<path d="M20.46 9.63C20.3196 8.16892 19.8032 6.76909 18.9612 5.56682C18.1191 4.36456 16.9801 3.40083 15.655 2.7695C14.3299 2.13816 12.8639 1.86072 11.3997 1.96421C9.93555 2.06769 8.52314 2.54856 7.3 3.36C6.2492 4.06265 5.36706 4.9893 4.71695 6.07339C4.06684 7.15749 3.6649 8.37211 3.54 9.63C3.41749 10.8797 3.57468 12.1409 4.00017 13.3223C4.42567 14.5036 5.1088 15.5755 6 16.46L11.3 21.77C11.393 21.8637 11.5036 21.9381 11.6254 21.9889C11.7473 22.0397 11.878 22.0658 12.01 22.0658C12.142 22.0658 12.2727 22.0397 12.3946 21.9889C12.5164 21.9381 12.627 21.8637 12.72 21.77L18 16.46C18.8912 15.5755 19.5743 14.5036 19.9998 13.3223C20.4253 12.1409 20.5825 10.8797 20.46 9.63ZM16.6 15.05L12 19.65L7.4 15.05C6.72209 14.3721 6.20281 13.5523 5.87947 12.6498C5.55614 11.7472 5.43679 10.7842 5.53 9.83C5.62382 8.86111 5.93177 7.92516 6.43157 7.08985C6.93138 6.25453 7.61056 5.54071 8.42 5C9.48095 4.29524 10.7263 3.9193 12 3.9193C13.2737 3.9193 14.5191 4.29524 15.58 5C16.387 5.53862 17.0647 6.24928 17.5644 7.08094C18.064 7.9126 18.3733 8.84461 18.47 9.81C18.5663 10.7674 18.4484 11.7343 18.125 12.6406C17.8016 13.5468 17.2807 14.3698 16.6 15.05ZM12 6C11.11 6 10.24 6.26392 9.49994 6.75839C8.75992 7.25286 8.18314 7.95566 7.84255 8.77793C7.50195 9.6002 7.41284 10.505 7.58647 11.3779C7.7601 12.2508 8.18869 13.0526 8.81802 13.682C9.44736 14.3113 10.2492 14.7399 11.1221 14.9135C11.995 15.0872 12.8998 14.9981 13.7221 14.6575C14.5443 14.3169 15.2471 13.7401 15.7416 13.0001C16.2361 12.26 16.5 11.39 16.5 10.5C16.4974 9.30734 16.0224 8.16428 15.1791 7.32094C14.3357 6.4776 13.1927 6.00265 12 6ZM12 13C11.5055 13 11.0222 12.8534 10.6111 12.5787C10.2 12.304 9.87952 11.9135 9.6903 11.4567C9.50109 10.9999 9.45158 10.4972 9.54804 10.0123C9.6445 9.52733 9.88261 9.08187 10.2322 8.73224C10.5819 8.38261 11.0273 8.1445 11.5123 8.04804C11.9972 7.95158 12.4999 8.00109 12.9567 8.1903C13.4135 8.37952 13.804 8.69996 14.0787 9.11108C14.3534 9.5222 14.5 10.0056 14.5 10.5C14.5 11.163 14.2366 11.7989 13.7678 12.2678C13.2989 12.7366 12.663 13 12 13Z" fill="var(--primary)" />
											</svg>
											@if (User.Identity.IsAuthenticated)
											{
												var userAddress = (await UserManager.GetUserAsync(User))?.Address;
												if (string.IsNullOrEmpty(userAddress))
												{
													<span>Add the address in the <a href="/Setting" class="text-primary">settings</a></span>
												}
												else
												{
													@userAddress
												}
											}
											else
											{
												<span>Log in to enter the address</span>
											}
										</h4>
									</div>
								</div>
								<div id="cart-items">
								</div>
								<hr class="my-2 text-primary" style="opacity:0.9" />
							</div>
							<div class="card-footer pt-0 border-0">
								<div class="d-flex align-items-center justify-content-between">
									<p>Service</p>
									<h4 class="font-w500">+$1.00</h4>
								</div>
								<div class="d-flex align-items-center justify-content-between mb-3">
									<h4 class="font-w500">Total</h4>
									<h3 class="font-w500 text-primary" id="cart-total">$1.00</h3>
								</div>
								<a href="/Checkout" class="btn btn-primary btn-block">Checkout</a>
							</div>
						</div>
					</div>
					<div class="col-xl-12">
						<div class="card bg-primary blance-card-1 border-primary h-100">
							<div class="card-body pe-0 p-4 pb-3">
								<div class="dlab-media d-flex justify-content-between">
									<div class="dlab-content">
										<h4 class="cate-title">Get Discount VoucherUp To 20%  </h4>
										<p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
									</div>
									<div class="dlab-img">
										<img src="FoodDesk/images/banner-img/pic-2.jpg" alt="">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- modal-box -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Add Location Details</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body add-loaction">
					<div class="row">
						<div class="col-xl-12">
							<form>
								<div class="mb-3">
									<label class="form-label">Location Name</label>
									<input type="Text" class="form-control" placeholder="HOUSE/FLAT/BLOCK NO.">

								</div>
							</form>

						</div>
						<div class="col-xl-12">
							<form>
								<div class="mb-3">
									<label class="form-label">LANDMARK</label>
									<input type="Text" class="form-control" placeholder="LANDMARK">

								</div>
							</form>
						</div>
						<div class="col-xl-6">
							<form>
								<div class="mb-3">
									<label class="form-label">Available For Order</label>
									<input type="Text" class="form-control" placeholder="Yes">

								</div>
							</form>
						</div>
						<div class="col-xl-6">
							<p class="mb-1">Address type</p>
							<select class="form-control default-select ms-0 py-4 wide" style="display: none;">
								<option>Home</option>
								<option>Office</option>
								<option>Other</option>
							</select>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel2">Manage Route Notes</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body add-note">
					<div class="row align-items-center">
						<div class="col-xl-12">
							<form class="mb-3">
								<label class="form-label">Update Type</label>
								<input type="Text" class="form-control" placeholder="Drop Off Occurred">
							</form>

						</div>

						<div class="col-xl-12">
							<form class=" mb-3">
								<label class="form-label">Drop Off Location</label>
								<input type="Text" class="form-control" placeholder="Front Door">
							</form>

						</div>

						<div class="col-xl-12">
							<div class="mb-3">
								<label class="form-label">Notes</label>
								<textarea class="form-control" placeholder="Delivery was successful." id="floatingTextarea"></textarea>

							</div>
						</div>
						<div class="col-xl-12">
							<div class="mb-3">
								<label class="from-label">Address</label>
								<input type="Text" class="form-control" placeholder="Elm Street, 23">
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="button" class="btn btn-primary">Save changes</button>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Button trigger modal -->
<!--**********************************
	Content body end
***********************************-->
@section Scripts {
	<script>
		$(document).ready(function () {
			updateCart();

			$(document).on('click', '.plus.c-pointer', function (e) {
				e.preventDefault();
				console.log('Plus button clicked');
				var productId = $(this).data('product-id');
				console.log('Product ID:', productId);
				
				$.ajax({
					url: '/Home/AddToCart',
					type: 'POST',
					data: { productId: productId },
					success: function (response) {
						console.log('Add to cart response:', response);
						if (response.success) {
							updateCartDisplay(response.cart);
						} else {
							alert(response.message || 'Ошибка при добавлении товара в корзину');
						}
					},
					error: function (xhr, status, error) {
						console.error('Add to cart error:', error);
						alert('Ошибка при добавлении товара в корзину');
					}
				});
			});

			$(document).on('click', '.quntity button[data-decrease]', function () {
				var productId = $(this).closest('.order-check').data('product-id');
				var input = $(this).siblings('input');
				var quantity = parseInt(input.val()) - 1;
				updateCartItem(productId, quantity);
			});

			$(document).on('click', '.quntity button[data-increase]', function () {
				var productId = $(this).closest('.order-check').data('product-id');
				var input = $(this).siblings('input');
				var quantity = parseInt(input.val()) + 1;
				updateCartItem(productId, quantity);
			});

			function updateCartItem(productId, quantity) {
				$.ajax({
					url: '/Home/UpdateCartItem',
					type: 'POST',
					data: { productId: productId, quantity: quantity },
					success: function (response) {
						if (response.success) {
							updateCartDisplay(response.cart);
						}
					},
					error: function () {
						alert('Ошибка при обновлении корзины');
					}
				});
			}

			function updateCart() {
				$.ajax({
					url: '/Home/GetCart',
					type: 'GET',
					success: function (response) {
						if (response.success) {
							updateCartDisplay(response.cart);
						}
					},
					error: function () {
						alert('Ошибка при загрузке корзины');
					}
				});
			}

			function updateCartDisplay(cart) {
				var cartItems = $('#cart-items');
				cartItems.empty();

				var total = 1.00;
				$.each(cart, function (index, item) {
					total += item.price * item.quantity;
					var html = `
						<div class="order-check d-flex align-items-center my-3" data-product-id="${item.productId}">
							<div class="dlab-media">
								<img src="${item.imageUrl}" alt="${item.name}">
							</div>
							<div class="dlab-info">
								<div class="d-flex align-items-center justify-content-between">
									<h4 class="dlab-title"><a href="javascript:void(0);">${item.name}</a></h4>
									<h4 class="text-primary ms-2">+$${item.price}</h4>
								</div>
								<div class="d-flex align-items-center justify-content-between">
									<span>x${item.quantity}</span>
									<div class="quntity">
										<button data-decrease>-</button>
										<input data-value type="text" value="${item.quantity}" readonly />
										<button data-increase>+</button>
									</div>
								</div>
							</div>
						</div>
					`;
					cartItems.append(html);
				});

				$('#cart-total').text(`$${total.toFixed(2)}`);
			}
		});
	</script>
}