@model FoodDesk.WEB.Areas.AdminPanel.Models.MenuViewModel
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-body">
	<div class="container">
		<div class="row">
			<div class="col-xl-12">
				<!-- Категории -->
				<div class="d-flex align-items-center justify-content-between mb-2">
					<h4 class="mb-0 cate-title">Category</h4>
				</div>
				<div class="swiper mySwiper-2">
					<div class="swiper-wrapper">
						@foreach (var category in Model.Categories)
						{
							<div class="swiper-slide">
								<div class="cate-bx text-center">
									<div class="card">
										<div class="card-body">
											<img src="@category.ImageUrl" width="55" height="55" alt="@category.Name" />
											<h6 class="mb-0 font-w500">@category.Name</h6>
										</div>
									</div>
								</div>
							</div>
						}
					</div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
			<div class="col-xl-12">
				<!-- Popular This Week -->
				<div class="d-flex align-items-center justify-content-between mb-2 mt-sm-0 mt-3">
					<h4 class="mb-0 cate-title">Popular This Week</h4>
				</div>
				<div class="swiper mySwiper-3">
					<div class="swiper-wrapper">
						@foreach (var dish in Model.Top5PopularDishes)
						{
							<div class="swiper-slide">
								<div class="card b-hover">
									<div class="card-body p-3">
										<div class="menu-bx">
											<div class="d-flex align-items-start">
												<img src="@dish.ImageUrl" alt="@dish.Name">
												<div class="mr-auto pr-3">
													<h4 class="font-w500">@dish.Name</h4>
													<h4 class="text-primary">@dish.Price.ToString("C")</h4>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						}
					</div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
			<div class="col-xl-12">
				<!-- Promo -->
				<div class="d-flex align-items-center justify-content-between mb-2 mt-sm-0 mt-3">
					<h4 class="mb-0 cate-title">Promo</h4>
				</div>
				<div class="swiper mySwiper-5">
					<div class="swiper-wrapper">
						@if (Model.PromoProduct != null)
						{
							<div class="swiper-slide">
								<div class="card">
									<div class="card-body py-3">
										<div class="promo-bx pt-4">
											<div>
												<span class="badge badge-lg badge-danger side-badge style-1">@Model.PromoProduct.Discount% Off</span>
												<h4 class="font-w500 mb-1">@Model.PromoProduct.Name</h4>
												<div class="d-flex align-items-center">
													<h4 class="text-primary">@Model.PromoProduct.Price.ToString("C")</h4>
												</div>
											</div>
											<div class="dlab-media-1">
												<img src="@Model.PromoProduct.ImageUrl" alt="@Model.PromoProduct.Name">
											</div>
										</div>
									</div>
								</div>
							</div>
						}
					</div>
					<div class="swiper-pagination"></div>
				</div>
			</div>
		</div>
	</div>
</div>