@{
}

<!--**********************************
            Sidebar start
        ***********************************-->
<div class="dlabnav border-right">
    <div class="dlabnav-scroll">
        <p class="menu-title style-1"> Main Menu</p>
        <ul class="metismenu" id="menu">
            <li>
                <a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
                    <i class="bi bi-grid"></i>
                    <span class="nav-text">Restaurant</span>
                </a>
                <ul aria-expanded="false">
                    <li class="@(Context.Request.Path == "/" ? "active" : "")"><a href="/">Dashboard Light</a></li>
                    <li class="@(Context.Request.Path == "/FoodOrder" ? "active" : "")"><a href="/FoodOrder">Food Order</a></li>
                    <li class="@(Context.Request.Path == "/FavoriteMenu" ? "active" : "")"><a href="/FavoriteMenu">Favorite Menu</a></li>
                    <li class="@(Context.Request.Path == "/Notification" ? "active" : "")"><a href="/Notification">Notification</a></li>
                    <li class="@(Context.Request.Path == "/Setting" ? "active" : "")"><a href="/Setting">Setting</a></li>
                </ul>

            </li>
            <li>
                <a class="has-arrow " href="javascript:void(0);" aria-expanded="false">

                    <i class="bi bi-shop-window"></i>
                    <span class="nav-text">Dashboard</span>
                </a>
                <ul aria-expanded="false">
                    <li class="@(Context.Request.Path == "/AdminPanel" ? "active" : "")"><a href="/AdminPanel">Dashboard</a></li>
                    <li class="@(Context.Request.Path == "/AdminPanel/Menu" ? "active" : "")"><a href="/AdminPanel/Menu">Menu</a></li>
                    <li class="@(Context.Request.Path == "/AdminPanel/Orders" ? "active" : "")"><a href="/AdminPanel/Orders">Orders</a></li>
                    <li class="@(Context.Request.Path == "/AdminPanel/Reviews" ? "active" : "")"><a href="/AdminPanel/Reviews">Reviews</a></li>
                </ul>

            </li>
            <li>
                <a class="has-arrow " href="javascript:void(0);" aria-expanded="false">
                    <i class="bi bi-bicycle"></i>

                    <span class="nav-text">Drivers</span>
                </a>
                <ul aria-expanded="false">
                    <li class="@(Context.Request.Path == "/DeliverMain" ? "active" : "")"><a href="/DeliverMain">Dashboard</a></li>
                    <li class="@(Context.Request.Path == "/DeliverOrder" ? "active" : "")"><a href="/DeliverOrder">Orders</a></li>
                    <li class="@(Context.Request.Path == "/DeliverFeedback" ? "active" : "")"><a href="/DeliverFeedback">Feedback</a></li>
                </ul>

            </li>
        </ul>
        <div class="plus-box">
            <div class="d-flex align-items-center">
                <h5>Upgrade your Account to Get Free Voucher</h5>

            </div>
            <a href="javascript:void(0);" class="btn bg-white btn-sm">Upgrade</a>
        </div>
        <div class="copyright mt-0">
            <p><strong>Food Desk - Online Food Delivery Admin Dashboard</strong> © 2022 All Rights Reserved</p>
            <p class="fs-12">Made with <span class="heart"></span> by DexignLab</p>
        </div>
    </div>
</div>
<!--**********************************
    Sidebar end
***********************************-->
